
body {
    background-color: #12181D;
    font-family: 'Inconsolata', cursive;
}

header {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 8rem;
    /* background-color: rgb(129, 36, 191); */
}

/* font-family: 'Bahianita', cursive;
font-family: 'Barriecito', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Inconsolata', monospace; */

h1 {
    margin-top: 40px;
    text-align: center;
    /* color: #D4AF37; Or EEAC0E*/
    color:#8845ccfa;
    font-weight: bolder;
    font-size: 35px;
}

nav {
    display: flex;
    justify-content: flex-end;
    /* font-size: 25px; */
}

a {
    color: #8845ccfa;
    text-decoration: none;
    font-size: 40px;
    margin: 0 20px 0 20px;
}

a:last-child {
    margin-right: 60px;
}

h1:hover, h2:hover {
    color: #EEAC0E;
}

h2 {
    /* color: #D4AF37; */
    color:#8845ccfa;
    margin: 0 15px;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    flex: 1 0 25%;
    padding: 10px;
    box-sizing: border-box;
}

.img-container-effect {
    color: black;
    transform: translateY(0px);
    transition: all 0.55s ease;
    -webkit-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
    box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
}
.img-container:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
    box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
}

.column img {
    vertical-align: middle;
    width: 100%;
    box-shadow: 5px 5px #070A0B;
}

/* .img-container {
    flex: 1 0 25%;
    box-sizing: border-box;
    color: #171e42;
    padding: 10px;
}

.img-container:hover {
    padding: 8px;
} */

footer {
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 100px 0;
}

a.footer-link {
    color: #8845ccfa;
    text-decoration: none;
    font-size: 50px;
    margin: 0 35px 0 35px;
}

.footer-link {
    margin: 0 50px 0 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .img-container {
        flex: 1 0 50%;
        padding: 15px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .img-container {
        flex: 1 0 100%;
        padding: 20px;
    }

    a {
        margin: 0 10px 0 10px;
    }
    
    a:last-child {
        margin-right: 30px;
    }
}